.header {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    text-align: center;
}

.logo h1 {
    font-size: 30px;
    margin: 0;
}