.notifheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.back-button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #0056b3;
}

.notification-card {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.notification-card:hover {
    background-color: #f0f0f0;
}

.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.75) !important;
}

.ReactModal__Content {
    border-radius: 4px;
    padding: 20px;
    width: 50%;
    margin: auto;
    max-width: 500px;
}
